table ,th, td{
    border:1px solid black;
    border-collapse:collapse;
    text-align:center;
}
p{
    text-align:center;
}

h2{
    color:blue;
    text-align:center;
}
div{
    text-align:center;
}