
#id1{
    text-align:center;


}
#id2{
    text-align:center;
    color:steelblue
}
hr{
    color:lightblue;
}
ul{
    text-align:center;
}
h5{
    text-align:center;
}
#center{
    text-align:center;
}
#usthb{
    color:steelblue;
}
#title{
    text-align:center;
}
p{
    text-align:center;
}